<div class="scene scene--card">
  <div class="card">
    <div class="card__face card__face--front">
      <!-- <app-flashcard [wordModel]="firstWord" (flipEvent)="flip()"> -->
      
          <app-flashcard [entry]="entry"  (flipEvent)="flip()" [hideButtons]="flipped">
      </app-flashcard>
    </div>
    <div class="card__face card__face--back">

      <!-- [wordModel]="secondWord" -->
      <app-french-flashcard
        [entry]="entry"
        (flipEvent)="flip()"
        [hideButtons]="!flipped"
      ></app-french-flashcard>
    </div>
  </div>
</div>
