<ion-tabs>
  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button tab="current">
      <ion-icon name="Cloud"></ion-icon>
      <ion-label>Current Weather</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="forecast">
      <ion-icon name="Calendar"></ion-icon>
      <ion-label>Forecast</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="uv-index">
      <ion-icon name="Sunny"></ion-icon>
      <ion-label>UV Index</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

