<ion-card>
  <ion-card-header>
      <ion-item>
        <ion-button color="primary" round small (click)="closeIt()">
          <ion-icon name="arrow-back"></ion-icon></ion-button>
      </ion-item>
  </ion-card-header>
  <ion-card-content>
      <!-- {{ wordModel.word }}-->
     
      <!-- <ion-item ion-button  (click)="sayWord(wordModel.word)"><ion-icon name="volume-high"></ion-icon></ion-item> -->

      <ion-item [hidden]="hideButtons">

          <div style="font-size: 16pt; text-align:center;"><span style="vertical-align: middle">{{entry.wordModels[0].word}}</span>&nbsp;
                  <ion-button color="primary" round small (click)="sayWord()">
                 <ion-icon name="volume-high"></ion-icon>
                </ion-button></div>
  
                </ion-item>
         <ion-item>
           <span style="font-size: 16pt; text-align: center;">{{entry.wordModels[0].sentence}}</span>
          </ion-item>
        
      <!-- <ion-item ion-button (click)="sayWord(wordModel.sentence)"><ion-icon name="volume-high"></ion-icon></ion-item> -->
      <ion-item [hidden]="hideButtons">
          
        <ion-button [hidden]="hideButtons" color="primary" round small (click)="saySentence()"><ion-icon name="volume-high"></ion-icon></ion-button>
    
      <ion-button [hidden]="hideButtons" color="primary" round small  (click)="flip()"><ion-icon name="refresh"></ion-icon> </ion-button>
      
        <ion-button [hidden]="hideButtons"color="primary" round small (click)="verify()"><ion-icon #micIcon name="mic"></ion-icon></ion-button> </ion-item>
      <ion-item [hidden]="isCorrectHidden()"><ion-icon  name="checkmark" color="success"></ion-icon></ion-item>
      <ion-item [hidden]="isIncorrectHidden()"><ion-icon  name="close" color="danger"></ion-icon></ion-item>
  </ion-card-content>
</ion-card>
