<ion-header>
    <ion-toolbar color="primary"> <ion-title>Language Cards</ion-title></ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-card>
    <ion-card-header class="primary-value">
      Words to Learn
      <ion-button float-end color="primary" (click)="toggle()" class="fake">
        <ion-icon [name]="iconType"></ion-icon>
      </ion-button>
      <ion-item [hidden]=!show>
          <ion-label floating>Add Entry</ion-label>
          <ion-input #myInput type="text" [(ngModel)]="addedWord"></ion-input>
          <div>
              <ion-button color="primary" round small (click)="addEntry(addedWord)">Submit</ion-button>
          </div>
      </ion-item>      
    </ion-card-header>

    <ion-card-content>

          <ion-item *ngFor="let entry of entries" >
            <span class="wordspan" (click)="playEntry(entry)"><h1>{{ entry.wordModels[0].word }}</h1></span>
            <span class="buttonspan" float-end>
              <ion-button color="primary" round (click)="removeEntry(entry)" >
                  <ion-icon name="trash" ></ion-icon>
              </ion-button> 
            </span>
          </ion-item>

    </ion-card-content>
  </ion-card>
</ion-content>